<footer>
    <div class="section-wrapper">
      <div class="footer-section">
        <div class="footer-brand-content">
          <div><img src="./images/logo.png" alt="Logo" /></div>
          <div>Taste the Joy of Food</div>
        </div>
        <div class="footer-contact-content">
          <div>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            service@rakesh.com
          </div>
          <div>
            <i class="fa fa-mobile" aria-hidden="true"></i> +91 6377160181
          </div>
        </div>
      </div>
      <div class="footer-section">
        <div class="footer-head-content">
          <h2>Company</h2>
        </div>
        <div class="footer-para-content">
          <div><a href="#">Home</a></div>
          <div><a href="#">Services</a></div>
          <div><a href="#">About Us</a></div>
          <div><a href="#">Blog</a></div>
        </div>
      </div>
      <div class="footer-section">
        <div class="footer-head-content">
          <h2>Legal</h2>
        </div>
        <div class="footer-para-content">
          <div><a href="#">Contact Us</a></div>
          <div><a href="#">Privacy Policy</a></div>
          <div><a href="#">Terms & Conditions</a></div>
          <div><a href="#">Description</a></div>
        </div>
      </div>
      <div class="footer-section">
        <div class="footer-head-content">
          <h2>Social Media</h2>
        </div>
        <div class="footer-para-content">
          <div>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
          </div>
          <div>
            <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
          </div>
          <div>
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
          </div>
          <div>
            <a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

    </body>
</html>