<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Knife and Fork</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <!-- Header Part -->
    <header>
      <nav class="top-static-nav">
        <ul class="logo">
          <li class="logo-img"><img src="./images/logo.png" alt="Brand" /></li>
          <li class="description"><div>KNIFE & FORK</div></li>
        </ul>
        <ul class="next-options">
          <li class="item">
            <a href="./index.html"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="item"><a href="#">Service</a></li>
          <li class="item"><a href="#">About Us</a></li>
          <li class="item"><a href="#">Newsletter</a></li>
          <li class="item">
            <a href="#"
              ><i class="fas fa-heart"></i> <span id="total-wish"></span> Wish
              List</a
            >
          </li>
          <li class="item">
            <a href="#"
              ><i class="fas fa-shopping-cart"></i
              ><span id="total-items-cart"></span> Cart</a
            >
          </li>
          <li class="item">
            <a href="./Login Page/index.html"
              ><i class="fas fa-user"></i> Login</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
